[Unit]
Description=Audio effects for PipeWire applications
PartOf=graphical-session.target
After=graphical-session.target
Requires=pipewire-pulse.service
After=pipewire-pulse.service

[Service]
Type=simple
Restart=on-failure
RestartSec=5
ExecStart=/usr/bin/easyeffects --gapplication-service
ExecStop=/usr/bin/easyeffects --quit

[Install]
WantedBy=graphical-session.target
