[Unit]
Description=Audio effects for PipeWire applications
After=graphical-session.target
PartOf=graphical-session.target
After=pipewire.service
Wants=pipewire.service

[Service]
Type=simple
Restart=on-failure
RestartSec=3
ExecStart=/usr/bin/easyeffects --gapplication-service

[Install]
WantedBy=graphical-session.target
