[Unit]
Description=Audio effects for PipeWire applications
Requires = pipewire-pulse.service
After = pipewire-pulse.service

[Service]
Type=simple
Restart=always
RestartSec=5
ExecStart=/usr/bin/easyeffects --gapplication-service
ExecStop=/usr/bin/easyeffects --quit

[Install]
WantedBy = default.target
