[Unit]
Description=Emacs text editor daemon (debug mode)
Documentation=info:emacs man:emacs(1) https://gnu.org/software/emacs/

[Service]
Type=notify
ExecStart=/usr/bin/emacs --fg-daemon
ExecStop=/usr/bin/emacsclient --eval "(kill-emacs)"
Environment=SSH_AUTH_SOCK=%t/gnupg/S.gpg-agent.ssh
StandardOutput=journal
StandardError=journal
Restart=on-failure
RestartSec=5s
TimeoutStartSec=120

[Install]
WantedBy=graphical-session.target
