[Unit]
PartOf=sway-session.target
After=sway-session.target

[Service]
Type=oneshot
ExecStart=%h/.local/services/gsettings
RemainAfterExit=true

[Install]
WantedBy=sway-session.target
