[Unit]
Description=Kanshi display configuration daemon
PartOf=graphical-session.target
After=graphical-session.target noctalia.service

[Service]
Type=simple
ExecStartPre=/usr/bin/sleep 3
ExecStart=/usr/bin/kanshi
KillSignal=SIGINT
Restart=on-failure
RestartSec=1
TimeoutStopSec=2

[Install]
WantedBy=graphical-session.target
