[Unit]
PartOf=sway-session.target
After=sway-session.target

[Service]
Type=simple
ExecStart=/usr/bin/libinput-gestures

[Install]
WantedBy=sway-session.target
