[Unit]
Description=Mailbox synchronization service

[Service]
Type=oneshot
ExecStart=/usr/bin/mbsync -Va
ExecStartPost=/usr/bin/bash -c 'emacsclient -ue \'(mu4e-update-index)\' || mu index -q'
