[Unit]
Description=Noctalia Shell
Documentation=https://github.com/noctalia/noctalia
PartOf=graphical-session.target
After=graphical-session.target
StartLimitIntervalSec=10
StartLimitBurst=5

[Service]
Type=simple
ExecStartPre=-/bin/rm -rf -- %t/quickshell
ExecStart=/usr/bin/qs -c noctalia-shell
Restart=on-failure
RestartSec=2
TimeoutStopSec=2

[Install]
WantedBy=graphical-session.target
