[Unit]
Description=Noctalia Shell
Documentation=https://docs.noctalia.dev
PartOf=graphical-session.target
After=graphical-session.target
StartLimitIntervalSec=10
StartLimitBurst=5

[Service]
Type=simple
ExecStart=/usr/bin/noctalia --daemon
Restart=on-failure
RestartSec=2
TimeoutStopSec=2

[Install]
WantedBy=graphical-session.target
