[Unit]
Description=Polkit authentication agent
After=polkit.service

[Service]
Type=simple
ExecStart=/usr/bin/lxpolkit
RestartSec=15
Restart=always

[Install]
WantedBy=graphical-session.target
