[Unit]
Description=Sway idle management daemon
PartOf=graphical-session.target
After=graphical-session.target
StartLimitIntervalSec=30
StartLimitBurst=5

[Service]
Type=simple
ExecStart=/usr/bin/swayidle -w
KillSignal=SIGINT
Restart=on-failure
RestartSec=3
TimeoutStopSec=10

[Install]
WantedBy=graphical-session.target
