[Unit]
PartOf=sway-session.target
After=sway-session.target

[Service]
Type=simple
ExecStart=/home/meril/.local/services/sway-bg

[Install]
WantedBy=sway-session.target
