[Unit]
Description=A lightweight overlay volume/backlight/progress/anything bar for Wayland
Documentation=man:wob(1)
Documentation=https://github.com/francma/wob/
Requires=wob.socket
Wants=wob.socket

[Service]
Type=simple
StandardInput=socket
StandardOutput=journal
ExecStartPre=/bin/sleep 5
ExecStart=/usr/bin/wob -p 5 -b 0 -t 2000 --border-color "#95ffa4ee" --bar-color "#ffffffee" --background-color "#95ffa4ee"
Restart=on-failure

[Install]
WantedBy=default.target
Also=wob.socket
