[Unit]
Description=A lightweight overlay volume/backlight/progress/anything bar for Wayland
Documentation=man:wob(1)
Documentation=https://github.com/francma/wob/
Requires=wob.socket
Wants=wob.socket
After=graphical-session.target
PartOf=graphical-session.target

[Service]
Type=simple
StandardInput=socket
StandardOutput=journal
ExecStart=/usr/bin/wob
Restart=on-failure

[Install]
WantedBy=graphical-session.target
Also=wob.socket
