#!/usr/bin/env bash
# ~/.aliases

alias grep="grep --color=auto"
alias egrep="egrep --color=auto"
alias fgrep="fgrep --color=auto"

alias ls="ls --color=auto"
alias l="ls -lFh --color=auto"
alias la="ls -laFh --color=auto"
alias lsd='ls -lF --color=auto | grep "^d"'

alias boum="git co master && git pull origin master"
alias fire="DISPLAY= cacafire"
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."

alias em="TERM=xterm-24bit emacs -nw"
alias emc="TERM=xterm-24bit emacsclient -t"

alias zoom="QT_QPA_PLATFORM= XDG_CURRENT_DESKTOP=gnome zoom"
