[user]
  name = Méril Pilon
  email = meril.pilon@gmail.com
  signingkey = B78ABA26623D1326

[github]
  user = mpsq

[gitlab]
  user = mpsq

[color]
  ui = always
  diff = auto

[core]
  autocrlf = input
  safecrlf = warn
  editor = emacsclient

[alias]
  # misc
  ci = commit
  hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
  s = status
  a = add
  aa = add --all
  pu = "!git push -u origin \"$(git rev-parse --abbrev-ref HEAD)\""
  puf = push --force-with-lease
  d = diff
  dc = diff --cached
  amend = commit --amend --no-edit

  # branch
  b = branch
  bd = branch -D
  co = checkout
  chb = checkout -b

  l = log --oneline --graph

[branch]
  autosetuprebase = always

[commit]
  gpgsign = true

[rebase]
  stat = true

[pull]
  rebase = true

[rerere]
  enabled = true

[magithub]
  online = true

[magithub "status"]
  includeStatusHeader = false
  includePullRequestsSection = false
  includeIssuesSection = false

[hub]
  protocol = ssh