[user]
  name = Méril Pilon
  email = me@mpsq.org
  signingkey = EE8E8E2157EE310C

[github]
  user = mpsq

[gitlab]
  user = mpsq

[color]
  ui = always
  diff = auto

[core]
  autocrlf = input
  safecrlf = warn
  editor = emacsclient

[log]
  date = relative

[format]
  pretty = %C(Yellow)%h  %C(reset)%ad (%C(Green)%cr%C(reset))%x09 %C(Cyan)%an: %C(reset)%s

[alias]
  # misc
  ci = commit
  s = status
  a = add
  aa = add --all
  pu = "!git push -u origin \"$(git rev-parse --abbrev-ref HEAD)\""
  puf = push --force-with-lease
  d = diff

  # branch
  b = branch
  co = checkout

[branch]
  autosetuprebase = always

[commit]
  gpgsign = true

[rebase]
  stat = true

[pull]
  rebase = true

[rerere]
  enabled = true

[magithub]
  online = true

[magithub "status"]
  includeStatusHeader = false
  includePullRequestsSection = false
  includeIssuesSection = false

[hub]
  protocol = ssh
