set editing-mode vi

# Completion tuning
set completion-ignore-case on
set show-all-if-ambiguous on
set show-all-if-unmodified on
set colored-stats on
set visible-stats on
set mark-symlinked-directories on
set colored-completion-prefix on
set skip-completed-text on

# Vi cursor shapes (foot-compatible)
set show-mode-in-prompt on
set vi-ins-mode-string \1\e[5 q\2
set vi-cmd-mode-string \1\e[2 q\2

$if mode=vi

set keymap vi-command
Control-l: clear-screen
Control-p: history-search-backward
Control-n: history-search-forward

set keymap vi-insert
Control-l: clear-screen
Control-p: history-search-backward
Control-n: history-search-forward
$endif
