"*":
  "atom-beautify":
    apex: {}
    arduino: {}
    c: {}
    cfml: {}
    coffeescript: {}
    cpp: {}
    cs: {}
    css: {}
    d: {}
    ejs: {}
    erb: {}
    fortran: {}
    general:
      _analyticsUserId: "382ae155-2668-4509-b6cf-09e046d95594"
      analytics: false
      loggerLevel: "error"
    gherkin: {}
    handlebars: {}
    html: {}
    jade: {}
    java: {}
    js:
      wrap_line_length: 90
    json: {}
    jsx:
      wrap_line_length: 90
    latex: {}
    less: {}
    marko: {}
    mustache: {}
    objectivec: {}
    pawn: {}
    perl: {}
    php: {}
    python: {}
    riot: {}
    ruby: {}
    rust: {}
    sass: {}
    scss: {}
    spacebars: {}
    sql: {}
    svg: {}
    swig: {}
    tss: {}
    twig: {}
    typescript: {}
    vala: {}
    visualforce: {}
    xml: {}
    xtemplate: {}
  "atom-clock":
    dateFormat: "dddd D MMMM HH:mm:ss"
    refreshInterval: 1
    showClockIcon: true
    showTooltip: true
  "atom-ide-ui":
    use: {}
  "autocomplete-modules":
    babelPluginModuleResolver: true
  "base16-syntax":
    scheme: "Atelier Plateau"
  "bracket-matcher":
    highlightMatchingLineNumber: true
  "city-lights-ui": {}
  core:
    audioBeep: false
    autoHideMenuBar: true
    automaticallyUpdate: false
    closeDeletedFileTabs: true
    customFileTypes:
      "source.json": [
        "di"
      ]
    disabledPackages: [
      "vim-mode-plus"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "desktop.ini"
      "*.dll.js"
      "*.dll.js.map"
      "node_modules"
    ]
    telemetryConsent: "limited"
    themes: [
      "pristine-ui"
      "loved-syntax"
    ]
  editor:
    fontFamily: "Hack"
    fontSize: 12
    invisibles: {}
    lineHeight: 1.35
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
    zoomFontWhenCtrlScrolling: false
  emmet: {}
  "exception-reporting":
    userId: "46f091b2-a639-f338-de90-88608a6e1bb4"
  "file-icons": {}
  "fuzzy-finder":
    searchAllPanes: true
  "git-blame":
    columnWidth: 339
  "git-diff":
    showIconsInEditorGutter: true
  "highlight-line":
    hideHighlightOnSelect: true
  "highlight-selected":
    hideHighlightOnSelectedWord: true
    highlightBackground: true
    ignoreCase: true
  "language-babel":
    autoIndentJSX: true
    disableWhenNoBabelrcFileInPath: false
  linter: {}
  "linter-eslint":
    fixOnSave: true
  "linter-js-standard":
    honorStyleSettings: false
    showEslintRules: true
  "linter-stylelint":
    disableWhenNoConfig: false
    showIgnored: true
  "linter-ui-default":
    panelHeight: 58
    showPanel: true
  minimap:
    plugins:
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      selection: true
      selectionDecorationsZIndex: 0
  "one-dark-ui": {}
  "one-light-ui": {}
  "open-recent": {}
  "prettier-atom":
    prettierOptions:
      singleQuote: true
    useEslint: true
  "pristine-ui": {}
  "project-folder": {}
  "split-diff":
    diffWords: true
    ignoreWhitespace: true
    leftEditorColor: "red"
    rightEditorColor: "green"
    scrollSyncType: "Vertical + Horizontal"
    syncHorizontalScroll: true
  "status-bar": {}
  tabs:
    enableVcsColoring: true
  "tree-view":
    hideVcsIgnoredFiles: true
    squashDirectoryNames: true
  "tree-view-git-status": {}
  "vim-mode-plus": {}
  welcome:
    showOnStartup: false
".babel.regexp.source":
  editor:
    preferredLineLength: 90
".css.source.styled":
  editor:
    autoIndentOnPaste: true
".diff":
  editor:
    preferredLineLength: 90
    tabLength: 4
".diff.source":
  editor:
    preferredLineLength: 120
".languagebabel.ttlextension":
  editor:
    preferredLineLength: 90
".rid.text":
  editor:
    preferredLineLength: 120
"project-folder":
  projectRootDirectories: [
    "~/git/SHJS/"
    "~/git/SYN2F/"
  ]
