packages: [
  "atom-clock"
  "autocomplete-modules"
  "base16-syntax"
  "busy-signal"
  "copy-find-results"
  "copy-path"
  "deep-space-syntax"
  "file-icons"
  "highlight-line"
  "highlight-selected"
  "intentions"
  "jackhammer-syntax"
  "language-babel"
  "language-docker"
  "linter"
  "linter-eslint"
  "linter-stylelint"
  "linter-ui-default"
  "loved-syntax"
  "minimap"
  "minimap-highlight-selected"
  "minimap-selection"
  "package-sync"
  "pigments"
  "pristine-ui"
  "project-folder"
  "seoul256"
  "spacemacsdark-syntax"
  "standardjs-snippets"
  "Sublime-Style-Column-Selection"
  "tree-view-git-status"
  "vim-mode-plus"
]
