@keyframes blink-warning {
  70% {
    color: white;
  }

  to {
    color: white;
    background-color: orange;
  }
}

@keyframes blink-critical {
  70% {
    color: white;
  }

  to {
    color: white;
    background-color: red;
  }
}

* {
  border: none;
  border-radius: 0;
  min-height: 0;
  margin: 0;
  padding: 0;
  font-family: monospace;
}

#waybar {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  font-size: 9pt;
}

#backlight,
#battery,
#clock,
#cpu,
#custom-crypto,
#custom-mu,
#idle_inhibitor,
#memory,
#mode,
#network,
#pulseaudio,
#temperature,
#tray {
  padding-left: 12px;
  padding-right: 12px;
  min-width: 35px;
}

#battery {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#battery.warning.discharging {
  animation-name: blink-warning;
  animation-duration: 3s;
}

#battery.critical.discharging {
  animation-name: blink-critical;
  animation-duration: 2s;
}

#battery.critical,
#cpu.critical,
#temperature.critical {
  color: red;
}

#custom-mu.new {
  color: yellow;
}

#battery.warning,
#cpu.warning,
#network.disconnected {
  color: orange;
}

#clock {
  font-weight: bold;
}

#window {
  margin-left: 12px;
  padding: 0 26px;
  background: rgba(255, 255, 255, 0.2);
}

window#waybar.empty #window {
  background: transparent;
}

#workspaces button {
  border-bottom: 2px solid transparent;
  padding-top: 2px;
  padding-left: 6px;
  padding-right: 6px;
  color: white;
}

#workspaces button:hover {
  background: #323232;
  box-shadow: inherit;
  text-shadow: inherit;
}

#workspaces button.focused {
  border-color: white;
}

#workspaces button.urgent {
  border-color: orange;
  color: orange;
}
