window {
  margin: 0;
  border: 1px solid #ee64ac;
  background-color: #1c1e26;
}

#input {
  margin: 5px;
  padding: 5px;
  border: none;
  color: #1c1e26;
  background-color: #d5d8da;
}

#inner-box {
  margin: 5px;
  border: none;
  background-color: #1c1e26;
}

#outer-box {
  margin: 5px;
  border: none;
  background-color: #1c1e26;
}

#scroll {
  margin: 0;
  border: none;
}

#text {
  margin: 5px;
  border: none;
  color: #e0e0e0;
}

#entry:selected {
  background-color: #6be4e6;
}

#entry:selected #text {
  color: #1c1e26;
}
