@define-color overlay         #ffffff;

* {
  all: unset;
}

window {
  background-image: url("lock.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#date-label,
#clock-label {
  color: @overlay;
  font-size: 36px;
  font-family: monospace;
  font-weight: 800;
  text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.2);
}

#clock-label {
  font-size: 84px;
}

#date-label {
  margin-bottom: 10px;
}

#input-field {
  border-radius: 20px;
  padding: 10px 15px;
  border: 1px solid @overlay;
}

/* hide labels */
#input-label,
#unlock-button {
  font-size: 0;
}
