[Desktop Entry]
Name=Doom Emacs
GenericName=The Text Editor
Comment=Edit text and write code
Exec=/usr/bin/emacsclient -c -a emacs %F
Icon=doomemacs
Type=Application
Terminal=false
Categories=Development;TextEditor;Utility;
StartupWMClass=Emacs
Keywords=Text;Editor;Doom;

# Adds a right-click quick menu option in your application launcher
Actions=new-window;

[Desktop Action new-window]
Name=New Window
Exec=/usr/bin/emacsclient -c -a emacs %F
